.PopUp{
    margin: 0.5rem;
    display: flex;
    opacity: 98%;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    width: 30rem;
    height: 12rem;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: #656b77;
    border-radius:  0.5rem !important;
    z-index: 1;
  }
  
  .PopUpButton{
    margin: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  
  .PopUpText{
    margin: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    justify-content: space-evenly;
    align-items: flex-end;
  }